[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd frontend && npx serve -s build -l $PORT"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

